<div class="panel">
  <div class="panel-heading">
    <h2>Dashboard</h2>
  </div>

  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Posts
      </div>

      <div class="panel-body">
        <%= link_to('Meus Posts', dashboard_posts_path, class: 'btn btn-default') %>

        <%= link_to('Criar Post', dashboard_post_path(:new), class: 'btn btn-default') %>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Perfis
      </div>

      <div class="panel-body">
        <%= link_to('Editar Perfil', edit_dashboard_user_path(current_dashboard_user), class: 'btn btn-default')%>

        <%= link_to('Novo Perfil', new_dashboard_user_path, class: 'btn btn-default')%>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Vagas
      </div>

      <div class="panel-body">
        <%= link_to('Todas as Vagas', dashboard_jobs_path, class: 'btn btn-default')%>

        <%= link_to('Nova Vaga', new_dashboard_job_path, class: 'btn btn-default')%>
      </div>
    </div>


    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <%= link_to('Sair', destroy_dashboard_user_session_path, method: :delete, class: 'btn btn-warning') %>
      </div>
    </div>
  </div>
</div>
