<article class="card">
  <%= link_to post_path(post), class: 'card__link' do %>
    <%= content_tag :div, class: 'card__header', style: "background-image: url(#{post.header_image})" do %>
      <h2 class="card__title"><%= post.title %></h2>
    <% end %>

    <div class="card__footer">
      <div class="card__footer__text">
        <h3 class="card__footer__author"><%= post.author.full_name %></h3>
        <h4 class="card__footer__date"><%= post.published_at(date_only: true) %></h4>
      </div>

      <%= image_tag(url_for(post.author.image_data), class: 'card__footer__picture', alt: 'Author picture') %>
    </div>
  <% end %>
</article>
