<div class="panel-body">
  <%= form_with(model: [:dashboard, post], local: true) do |form| %>
    <div class="form-group">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, id: :post_title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= form.label :lead %>
        <%= form.text_field :lead, id: :post_lead, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= form.label :header_image %>
        <%= form.text_field :header_image, id: :post_header_image, class: 'form-control' %>
        <p class="help-block">Url completa. Não obrigatório.</p>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body, id: :post_body, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
