<div class="panel">
  <div class="panel-heading">
    <h2>Posts</h2>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Slug</th>
          <th>Lead</th>
          <th>Status</th>
          <th>Publicado em</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.slug %></td>
            <td><%= post.lead %></td>
            <td>
              <% if post.published? %>
                <%= link_to 'published', post_path(post) %>
              <% else %>
                <%= post.status %>
              <% end %>
            </td>
            <td><%= post.published_at %></td>
            <td><%= link_to 'Visualizar', dashboard_post_path(post) %></td>
            <td><%= link_to 'Editar', edit_dashboard_post_path(post) %></td>
            <% unless post.published? %>
              <td><%= link_to 'Publicar', publish_dashboard_post_path(post), method: :post %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
