<%= render "dashboard/shared/nav" %>

<div class="panel">
  <h1 style="text-align: center; margin: 10px;">[<%= @post.status.upcase %>]</h1>
  <article class="post">
    <%= render "posts/header", post: @post %>

    <%= render "posts/body", post: @post %>
  </article>

  <%= render "dashboard/comments/index", comments: @comments %>

  <%= render "dashboard/comments/new", comment: @new_comment, post: @post %>
</div>
