<%= render "dashboard/shared/nav" %>

<div class="panel">
  <h1 style="text-align: center; margin: 10px;">[<%= @post.status.upcase %>]</h1>
  <article class="post">
    <%= render "posts/header", post: @post %>

    <%= render "posts/body", post: @post %>
  </article>
  <% if @comments.any? %>
    <ul class="comments">
      <% @comments.each do |comment| %>
        <li class="comments__item">
          <%= render 'dashboard/comments/show', comment: comment %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="comments comments__item--none">
      Cobra review do pessoal :)
    </p>
  <% end %>

</div>
