<%= render "shared/sharednav" %>
<article class="post">
  <header class="post__header" style="background-image: url(<%= @post.header_image %>)">
    <h1 class="post__header__title">
      <%= @post.title %>
    </h1>
    <ul class="post__header__taglist"></ul>
    <div class="post__header__info">
      <div class="post__header__info__text">
        <h2 class="post__header__info__author"><%= @post.author.full_name %></h3>
        <h3 class="post__header__info__date"><%= @post.published_at(date_only: true) %></h3>
      </div>
      <%= image_tag(@post.author.image_data, class: 'post__header__info__author-picture', alt: 'Author picture') %>
    </div>
  </header>
  <main class="post__body">
    <%= @post.body %>
  </main>
  <section class="post__footer">
    <div class="post__footer__wrapper">
      <%= image_tag(@post.author.image_data, class: 'post__author__avatar', alt: 'Author picture') %>
      <div class="post__author__info">
        <h3 class="post__author__name"><%= @post.author.full_name %></h3>
        <p class="post__author__intro"><%= @post.author.quote %></p>
      </div>
    </div>
    <div class="post__footer__comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_config = function () {
          this.page.url = 'https://entrylvl.io/<%= @post.slug %>';
          this.page.identifier = '<%= @post.slug %>';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://entrylvl.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
    </div>
  </section>
</article>
<script>hljs.initHighlightingOnLoad();</script>
